<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite parallel="tests" name="Suite">
  <test thread-count="5" parallel="tests" name="chrome">
  <parameter name="mybrowser" value="chrome"></parameter>
    <classes>
      <class name="stepDefinition.Register"/>
    </classes>
  </test> 
  <!-- Test -->
   <test thread-count="5" parallel="tests" name="firefox">
  <parameter name="mybrowser" value="firefox"></parameter>
    <classes>
      <class name="stepDefinition.Register"/>
    </classes>
  </test> 
</suite> <!-- Suite -->